*{box-sizing: border-box;}

.body{
    max-width: 80em;
    margin: auto;
}

.main{
    padding: 1em;
    border: : 1px solid gray;
}

.blockquote{
    padding: 1em;
    border: 1px solid lightgray;
}

.fyrirsogn{
    font-size: 2.5em;
    font-family: Georgia;
    font-weight: 300;
    font-style: oblique;
    text-align: center;
    color: darkgoldenrod;
}

.topnav{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: white;
}

.topnav a{
    display: block;
    text-align: center;
    border-bottom: 1px solid white;
    padding: .4em 0;
}

.header{
 border-bottom: 1px solid lightgray;   
}

.footnav a {
    display: block;
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: .4em 0;
    margin-left: 3em;
}

.footnav a:first-child{
    padding-top: 1.4em;
}

.footnav li{
    border-bottom: 1px solid lightgray;
    padding: .4em 0;
    list-style-type: none;
}

.footer{
    border-top: 1px solid lightgray;
}

/* Viðmið */
@media screen and (min-width:37.5em){
    .aside-ab{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .aside-ab aside{
        padding: 0 1em;
    }
    
    .footer{
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1fr;
    }
}
@media screen and (min-width: 48em){
    .topnav {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
    }
    
    .topnav a{
        border: 0;
    }
    
    .fyrirsogn{
        font-size: 4em;
    }
}
@media screen and (min-width: 60em){
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .fyrirsogn{
        font-size: 4em;
    }
    
    .article{
        padding-right: 2em;
    }
}