*{
    box-sizing: border-box;
}

.body{
    margin: 0;
    font-family: sans-serif;
    line-height: 1.4;
    display: grid;
    grid-template-areas: 
        "header"
         "main"
        "footer"
        "topnav"
}

.main{
    display: grid;
    grid-area: main;
    grid-template-areas: 
        "artical"
        "as1"
        "as2"
    padding: 1em;
}

.blockquote{
    padding: 1em;
    border: 1px solid lightgray;
}

.fyrirsogn{
    font-size: 2.5em;
    font-family: Georgia;
    font-weight: 300;
    font-style: oblique;
    text-align: center;
    color: darkgoldenrod;
}

.topnav{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: white;
}

.topnav a{
    display: block;
    text-align: center;
    border-bottom: 1px solid white;
    padding: .4em 0;
}

.header{
 border-bottom: 1px solid lightgray;   
}

.footnav a {
    display: block;
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: .4em 0;
    margin-left: 3em;
}

.footnav a:first-child{
    padding-top: 1.4em;
}

.footnav li{
    border-bottom: 1px solid lightgray;
    padding: .4em 0;
    list-style-type: none;
}

.footer{
    border-top: 1px solid lightgray;
}

.article{
    grid-area: article;
}

.as1{
    grid-area: as1;
}

.as2{
    grid-area: as2;
}
/* Viðmið */
@media screen and (min-width:37.5em){
    .main{
        grid-template-areas: 
            "article article"
            "as2 as1";
        grid-template-columns: 1fr 1fr;
    }
    
}
@media screen and (min-width: 48em){
    .body{
        grid-template-areas: 
            "topnav"
            "header"
            "main"
            "footer";
    }
    
    .topnav {
        display: flex;
        flex-flow: row;
    }
    
    .topnav a{
        border: 0;
    }
    
    .fyrirsogn{
        font-size: 3em;
    }
    
    .footer{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 60em){
    .fyrirsogn{
        font-size: 4em;
    }
    
    .main{
        grid-template-areas: 
            "as2 article as1";
        grid-template-columns: 1fr 2fr 1ffr;
    }
}

@media screen and (min-width:80em){
    .body{
        max-width: 80em;
        margin: 0 auto;
    }
    
}